@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Neuton:wght@200&family=Yellowtail&family=Oswald:wght@700&display=swap');
body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    width: 905px;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.header-left p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8pt;
}
.header-left span {
    display: inline-block;
}
h2 {
    font-family: 'Yellowtail', cursive;
    font-size: 33pt;
}

main {
    border-style: top_bottom;
    border: dashed 6px black;
  
    max-width: 100%;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 32pt;
}

.dateline {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: lighter;
    color: grey;
}

label{
    display: block;
}

.recipe {
    font-size: 20px;
    font-family: 'Neucha', cursive;
    padding: 20px;
    background-image: url(/assets/list-bg.png);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    padding: 5px;
    list-style: none;
}
footer {
    width: 100%;
}
.footer-top {
    display: grid;
    grid-template-columns: 72px 1fr 200px;
}
div {
    border: 2px solid magenta;
}
article {
    width: 905px;
}
.picture{
    width: 100%;
}
ul {
    padding: 8px;
}

article p, .bio {
    
    font-family: 'Neuton', serif;
    font-weight: lighter;
    font-size: 20px;
    text-indent: 20pt;
    padding: 10px;
}
button {
    font-family: Arial, Helvetica, sans-serif ;
    background-color: chocolate ;
    color: white;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    border: none;
    font-weight: lighter;

}
.bio {
    text-indent: 0px;
}
.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;

}
